body {

font-size: 18px;
font-family:"Arial",sans-Serif;
}
/*
#div0 {
width: 85%;
margin: auto;
background-color: pink;
height: 1300px;
border-radius: 35px;
z-index: 1;
}

#div1 {
width: 80%;
margin: auto;
background-color: #dd0077;
height: 260px;
border-radius: 35px;
opacity: .8;
}

#div2 {
width: 80%;
margin: auto;
background-color: #dd5577;
border-radius: 35px;
z-index: 5;
padding-top: 40px;
padding-bottom: 40px;
margin-top: 50px;
}


#div3 {
background-color: #ffffff;
width: 90%;
margin-left: 60px;
margin-right: 40px;
margin-top: 30px;
border-radius: 35px;
z-index: 10;
}

#div4 {
margin-top: 40px;
margin-right: 40px;
padding-bottom: 40px;
padding-top: 40px;
border-radius: 35px;
z-index: 12;
margin-left: 60px;
}


a {
text-decoration: none;
color: CadetBlue;
}

h1 {
font-size: 58px;
color: #8B008B;
margin-left: 70px;
}

h2 {
font-size: 54px;
color: #8B008B;
margin-left: 45px;
}
h3 {
font-size: 44px;
color: #8B008B;
margin-left: 45px;
}

#head {
float: left;
}


#me {
border-radius: 175px;
margin-left: 50px;
margin-top:40px;
float: left;
}

#dog {
border-radius: 35px;
z-index:3;
float: left;
margin-left: 80%;
margin-top: -220px;
}

.faded
{
opacity:0.7;
}

.faded:hover
{
opacity:1.0;
}
*/
